/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

/*body { background: #0f0f0f; }*/

a:hover {
    text-decoration: underline;
}
/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */


header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
.social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
.social li a { color: #fff; }
.social li a:hover { color: #11ABB0; }

/* scrolldown link */
about .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
about .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
   text-decoration: none;
   text-align: left;
   color: #fff;

   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #fff;
   padding-top: 2%;
   padding-bottom: 1%;
   overflow: hidden;
   width: 100%;
}
/*#about .imp{
   border-bottom: 1px dashed #fff;
}*/

#about .highlight{
   color: #FFAD00;
}
#about a, #about a:visited  { color: #000; }
#about a:hover, #about a:focus { color: #000; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #FFFFFF;
   margin-bottom: 12px;
}
#about p {
   font-size: 18px;
   line-height: 30px;
   color: black;
}
#about .profile-pic {
   position: relative;
   border-radius: 100%;
   alignment-adjust: central;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #FFFFFF;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}



/* ------------------------------------------------------------------ */
/* d. projects Section
/* ------------------------------------------------------------------ */

#projects {
   background: #FFF;
   padding-top: 2%;
   /*padding-bottom: 1%;*/
   overflow: hidden;
   padding-left:5%;
   font-size: 16px;
   
}

#projects a, #projects a:visited  { color: #11ABB0; }
#projects a:hover, #projects a:focus { color: #313131; }

#projects h1 {
   font: 30px/34px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #FFFFFF;
}
#projects h1 span {

  padding-bottom: 6px;
  color: black ;
}
#projects h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

/*#projects .header-col { padding-top: 9px; color: MediumSeaGreen;}*/
/*#projects .main-col { padding-right: 10%; }*/

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
}
#projects .info {
   font: 18px/24px 'librebaskerville-italic', serif;
   color: #000;
}
#projects .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#projects .date {
   font: 18px/24px 'opensans-regular', sans-serif;
   color: #0078AE;
   margin-top: 6px;
}

#projects ul {
    list-style-type: disc;
    color: #34495e;
    margin-bottom: 20px;
}
#projects p info { margin: 0 0 15px 0; }

/* ------------------------------------------------------------------ */
/* d. education Section
/* ------------------------------------------------------------------ */

#publications {
   background: #fff;
   padding-top: 10px;
   padding-bottom: 2px;
   overflow: hidden;
   color: black;
}

#publications a, #publications a:visited  { color: #FFAD00; }
#publications a:hover, #publications a:focus { color: #FFAD00; }

#publications h1 {
font: 30px/34px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: black;
}
#publications h1 span {
   padding-bottom: 6px;
   color: black;
}
#publications h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   color : black;

}

/*#publications .header-col { padding-top: 9px; }*/
/*#publications .main-col { padding-right: 10%; }*/

.publications {
   margin-bottom: 48px;
   padding-bottom: 10px;
}
#publications .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #000;
}
#publications .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#publications .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/*#publications p { margin-bottom: 15px; }*/
#publications ul span {float:right; }
#publications ul a {color:#FFAD00; }

/*-------------*/

#timeline {
   background: #fff;
   /*padding-bottom: 2px;*/
   overflow: hidden;
   color: #000;
   padding-left: 5%;
   font-size: 16px;
}

#timeline a, #timeline a:visited  { color: #FFAD00; }
#timeline a:hover, #timeline a:focus { color: #FFAD00; }

#timeline h1 {
font: 30px/34px 'opensans-bold', sans-serif;
   /*text-transform: uppercase;*/
   letter-spacing: 1px;
   color: black;
   
   text-transform: uppercase;
}
#timeline h1 span {
   padding-bottom: 6px;
   color: black;
}
#timeline h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   color : black;

}

/*#timeline .header-col { padding-top: 9px; }*/
/*#timeline .main-col { padding-right: 10%; }*/

.timeline {
   margin-bottom: 48px;
   padding-bottom: 10px;
}
#timeline .info { 
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #000;
}
#timeline .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#timeline .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}
#timeline ul {
    list-style-type: disc;
    color: white;
    padding-left: 20px;
    margin-bottom: 20px;

}

#timeline p { margin-bottom: 15px; }
#timeline ul span {float:right; }
#timeline ul a {color:#FFAD00; }
/* ------------------------------------------------------------------ */
/* d. education Section
/* ------------------------------------------------------------------ */

#education {
   background: #fff;
   padding-top: 10px;
   padding-bottom: 2px;
   overflow: hidden;
   color: MediumSeaGreen;
}

#education a, #education a:visited  { color: #FFAD00; }
#education a:hover, #education a:focus { color: #FFAD00; }

#education h1 {
font: 30px/34px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: MediumSeaGreen;
}
#education h1 span {
   padding-bottom: 6px;
   color: MediumSeaGreen;
   border-bottom: 3px solid orange;
}
#education h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   color : MediumSeaGreen;

}

/*#education .header-col { padding-top: 9px; }*/
/*#education .main-col { padding-right: 10%; }*/

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 10px;
}
#education .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #000;
}
#education .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#education .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}
#education ul {
    list-style-type: disc;
    color: white;
    padding-left: 20px;
    margin-bottom: 20px;

}

#education p { margin-bottom: 15px; }
#education ul span {float:right; }
#education ul a {color:#FFAD00; }

/* ------------------------------------------------------------------ */
/* d. experience Section
/* ------------------------------------------------------------------ */

#experience {
   background: #fff;
   padding-top: 10px;
   padding-bottom: 2px;
   overflow: hidden;
   color: MediumSeaGreen;
}

#experience a, #experience a:visited  { color: #FFAD00; }
#experience a:hover, #experience a:focus { color: #FFAD00; }

#experience h1 {
font: 30px/34px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: MediumSeaGreen;
}
#experience h1 span {
   padding-bottom: 6px;
   color: MediumSeaGreen;
   border-bottom: 3px solid orange;
}
#experience h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   color : MediumSeaGreen;

}

/*#experience .header-col { padding-top: 9px; }*/
/*#experience .main-col { padding-right: 10%; }*/

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 10px;
}
#experience .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #000;
}
#experience .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#experience .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}
#experience ul {
    list-style-type: disc;
    color: white;
    padding-left: 20px;
    margin-bottom: 20px;

}

#experience p { margin-bottom: 15px; }
#experience ul span {float:right; }
#experience ul a {color:#FFAD00; }
/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 10px;
}
#portfolio h1 {
   font: 30px/34px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #000;
}

#portfolio h1 span {
   padding-bottom: 6px;
}
/* Portfolio Content */
#portfolio-wrapper .columns { margin-bottom: 36px; }
.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   opacity: 0;
   -moz-opacity: 0;
   filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}
.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
   -moz-opacity: 0;
   filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}
.portfolio-item .item-wrap img {
   vertical-align: bottom;
}
.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'opensans-bold', sans-serif;
   color: #fff;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
   opacity: 1;
   -moz-opacity: 1;
   filter:alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
   opacity: 1;
   -moz-opacity: 1;
   filter:alpha(opacity=100);
}

/* popup modal */
.popup-modal {
   max-width: 550px;
   background: #fff;
   position: relative;
   margin: 0 auto;
}
.popup-modal .description-box { padding: 12px 36px 18px 36px; }
.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin-bottom: 12px;
   color: #111;
}
.popup-modal .description-box p {
   font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}
.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 8px;
}
.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
   font: 11px/21px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.popup-modal a:hover {  color: #00CCCC; }
.popup-modal a.popup-modal-dismiss { margin-left: 24px; }


/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
   -moz-transition: all 200ms ease-in-out;
   -o-transition: all 200ms ease-in-out;
   -ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: MediumSeaGreen;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #FFFFFF;
}
#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color: #white; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact h1 span { display: none; }
#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
   padding-right: 10px;
   font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #ebeeee;
}

#contact h4 {
   font: 16px/24px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin: 12px 0;
   color: #EBEEEE;
   display: inline-block;
   float: left;
   width: 26%;
}
#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
   color: #eee;
   background: #373233;
   margin-bottom: 42px;
   border: 0;
   outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 65%;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
   color: #fff;
   background-color: #11ABB0;
}
#contact button.submit {
   text-transform: uppercase;
   letter-spacing: 3px;
   color:#fff;
   background: #0D0D0D;
   border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
   border-radius: 3px;
   margin-left: 26%;
}
#contact button.submit:hover {
   color: #0D0D0D;
   background: #fff;
}
#contact span.required {
   color: #11ABB0;
   font-size: 13px;
}
#message-warning, #message-success {
   display: none;
   background: #0F0F0F;
   padding: 24px 24px;
   margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}


/* Twitter Feed */
#twitter {
   margin-top: 12px;
   padding: 0;
}
#twitter li {
   margin: 6px 0px 12px 0;
   line-height: 30px;
}
#twitter li span {
   display: block;
}
#twitter li b a {
   font: 13px/36px 'opensans-regular', Sans-serif;
   color: #474747 !important;
   border: none;
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   background: #FFF;
   padding-top: 10px;
   margin-bottom: 48px;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #000; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    /*color: #095153;*/
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
.social-links {
   margin: 10px 0 10px 0;
   padding: 0;
   font-size: 30px;
}
 .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 12px;
    color: #FFFFFF;
}

 .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
   position: absolute;
   top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
   text-decoration: none;
   border: 0 none;
   display: block;
   width: 60px;
   height: 60px;
   background-color: #525252;

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
   border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  word-wrap:break-word;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

hr.soft {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,153,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  padding: 0;
  margin: 0;
}

hr.pub {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(17, 30, 108,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  padding: 0;
  margin: 0;
}

u {    
    border-bottom: 2px dotted brown;
    text-decoration: none;
}

.publ ul {
   /*padding-left: 2px;*/
}
.publ li {
    border: 1px solid #CCC;
    padding: 5px;
    /*margin: 1px 2px;*/
    display: inline-block;
    color: brown;
}

.puba {
    font-size: 16px;
    font-weight: 600;
    color: #900;
}

.pubt {
    font-size: 20px;
    font-weight: 600;
    color: MidnightBlue;
}

.pubd {
    font-size: 16px;
    font-weight: 300;
}
.pubv {
    font-size: 16px;
    font-weight: 600;
    color: darkgreen;
}
